/* basic elements */
html {
	margin: 0;
	padding: 0;
	height: 100%;
	}
	
body { 
	font: 100% times, sans-serif;
	line-height: 1.8em;
	color: #555753; 
	margin-left: 20%; 
  	margin-right: 8%;
  	height: 100%;
	}
	
p { 
	margin-top: 0; 
    margin-left: 2%; 
    margin-right: 2%;
	text-align: justify;
	}
	
h2 { 
	font: bold 2em sans-serif, times;
    color: #292929; 
    letter-spacing: 0.1em; 
}

h3 { 
	font: bold normal 1.4em sans-serif, times;
	letter-spacing: 0.1em; 
	margin-bottom: 1em;
	}

a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #B7A5DF;
	}
	
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #D4CDDC;
	}
	
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #9685BA;
	}
	
figure {
  border-top: none;
  padding-top: 0;
  float: left;
  width: 50%
  }

footer { 
	text-align: center; 
	}
footer a:link, footer a:visited { 
	margin-right: 0.1em; 
	}


.small {
  font-variant: small-caps;
  }

.italic {
  font-style: italic;
  margin-top: 0
  }
  
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }

.quote {
  padding-left: 1em; 
  display:block
  }

.column {
  float: left;
  width: 45%;
  padding: 0.1em;
}

.row::after {
  content: "";
  clear: both;
  display: table;
} 

.bold {
	font-weight: bold

}
  
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 12%;
  height: 100%;
  background-color: #f1f1f1;
  padding: 20px;
}
.sidebar button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10%;
  position: relative; 
  text-align: center; 
}

button img {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  margin-bottom: 2%;
}

button span {
  display: block;
  padding-top: 40%;
}

.background-1 {
    background-color: aliceblue;
}

.background-2 {
    background-color: rgb(255, 255, 255);
}